body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: black;
}

div{
display: flex;

.grid-container {
    display: grid;
    gap: 10px; /* 10px gap between rows and columns */
}


 
}
